@import url('http://fonts.cdnfonts.com/css/netflix-sans%27');

*{
    margin:0;
    text-decoration: none;
    list-style-type: none;
}
body{
    margin:0;
    padding: 0;
    background-color: #161a1d;
    font-family: 'netflix-sanz';
}
